{{> header}}

<style media="screen">
  .text-center {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
</style>

<h1 class="text-center">We'll be right back!</h1>
<p class="text-center">We are currently building something magical!</p>

{{> footer}}
